@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-seri
}

body{
    background: #15151eff;
}

.sidebar{
    width: 20vw;
    height: 100vh;
    background: #282931ff;
    display: block;
    color:#c1c0c7ff;
}
.sidebar h3{
    padding: 20px;
}

.main{
    width: 80vw;
    height: 100%;
    position: absolute;
    left: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload_form{
    width: 60%;
    height: 25vh;
    padding: 20px;
    border: 1px solid rgba(193, 192, 199, 0.249);
    border-radius: .3em;
}

.upload_form label{
    display: inline-block;
    width: 100%;
    color:#c1c0c7ff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.upload_form input{
    background: rgb(22, 23, 26);
    border-radius: .3em;
    padding: 3px;
    color: #c1c0c7ff;
    border: 1px solid rgba(193, 192, 199, 0.249);
    width:60%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.upload_form input:hover{
    border: 1px solid orange;
    outline: 1px solid whitesmoke;
}

.upload_form button{
    background: #8987feff;
    border-radius: .3em;
    border: 0;
    outline: 0;
    width: 145px;
    padding: 5px;
    margin: 20px auto;
    display: block;
}

.upload_form button:focus{
    transform: translateY(3px);
}

.result{
    background: #353441ff;
    width: 80%;
    height: 50vh;
    padding: 20px;
    border-radius: .3em;
    margin:20vh auto;
}
.result h3{
    color: #c1c0c7ff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
.result img{
    width: 90%;
    height: 80%;
    border-radius: .3em;
    margin-top: 10px;
}