<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Aeromax Predictor</title>
    <style>
      @media screen and (max-width: 600px) {
        .upload_form {
          width: 75%;
        }
        .main {
          width: 100vw;
          left: 0;
        }
        .sidebar {
          width: 0;
          margin: 0;
          diplay: none;
        }
        .upload_form input {
          width: 94%;
        }
      }
    </style>
  </head>
  <body>
    <!-- app/templates/app/upload.html -->
    <div class="main">
      <form method="post" enctype="multipart/form-data" class="upload_form">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Upload CSV</button>
      </form>
    </div>

    <div class="sidebar">
      <h3 id="title">Aeromax Predictor</h3>
      <p>
        Hey there! Welcome to Aeromax Predictor. This is a web app intended to
        an AI model which is trained on India's air quality data to predict the
        air quality for the next year.
      </p>

      <h4>How to use?</h4>
      <p>
        Upload a CSV file containing the air quality data for the past 5 years
        and the model will predict the air quality for the next year.
      </p>
    </div>
  </body>
</html>
