<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Aeromax Predictor</title>
  </head>
  <body>
    <!-- app/templates/app/upload.html -->
    <div class="container">
      <h1>Aeromax Predictor</h1>
      <p>Hi! I'm Aeromax, your air quality predictor. I can help you forecast the air quality for the next year based on
        the historical data.</p>
      <p>All you need to do is upload a CSV file that has the air quality data of the previous 5 years. Then, press the
        Generate Report button to see the projected air quality in India.</p>
    
    
      <!-- Label for the file input -->
      <label for="fileInput" id="fileName" class="file-name">
        Choose
      </label>
    
      <!-- Actual file input element, visually hidden -->
      <input type="file" id="fileInput">
      {% csrf_token %} {{ form.as_p }}
    
      <!-- Generate Report button -->
      <button>Generate Report</button>
    </div>
    
    <!-- JavaScript to update the selected file name -->
    <script>
      const fileInput = document.getElementById('fileInput');
      const fileNameDisplay = document.querySelector('.file-name');

      fileInput.addEventListener('change', () => {
        fileNameDisplay.textContent = fileInput.files[0] ? fileInput.files[0].name : 'No file selected';
      });

    </script>
  </body>
</html>
