<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aeromax Predictor - Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <!-- app/templates/app/upload.html -->
    <div class="main">
      <form method="post" enctype="multipart/form-data" class="upload_form">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Upload CSV</button>
      </form>
    </div>

    <div class="sidebar">
      <h3 id="title">Aeromax Predictor</h3>
    </div>
  </body>
</html>
